TODO.txt
foo
.build
.includepath
.project
Search-Elasticsearch-*
servers/*
elasticsearch/*
cover_db
doc
log
bench_cxn.pl
*.xml
shield/*
.DS_Store
.perl-version
local/
*.komodoproject
.vscode
.idea

# clients make output
.ci/output